<main-lista-candidatos>
    <h2>Lista de Candidatos</h2>
    {{#if candidatos.length}}
        {{#each candidatos}}
            <div class="candidato">
                <div class="caja">
                    <p class="etiqueta">Nombre:</p>
                    <p class="nombre">{{nombre}}</p>
                </div>
                <div class="caja">
                    <p class="etiqueta">Email:</p>
                    <p class="nombre">{{email}}</p>
                </div>
                <div class="caja">
                    <p>Vista previa</p>
                    <iframe title="CV Candidato" width="500" height="300" src="{{cv}}"></iframe>
                    <a href="{{cv}}" class="btn btn-verde" target="_blank" download>Ver CV</a>
                </div>
            </div>
        {{/each}}
    {{else}}
        <p>No hay candidatos aún</p>
    
    {{/if}}
</main-lista-candidatos>